.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  // height: 100vh;
  justify-content: center;
  color: #fff;
  margin-top: calc(1em + 1vw);

  &__image {
    width: 25%;
  }

  &__button {
    border: none;
    width: calc(5em + 5vw);;
    height: calc(1.5em + 1.5vw);;
    background-color: rgb(213, 139, 1);
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &:hover {
      background-color: rgba(213, 139, 1, 0.8);
    }
  }

  &__span {
    font-size: calc(0.6em + 0.6vw);
  }

  &__icon {
    height: calc(0.6em + 0.6vw);
    width: calc(0.6em + 0.6vw);
  }
}

.swiper {
  margin-top: 10%;
}

@media screen and (max-width: 850px) {
  .swiper {
    margin-top: 20%;
  }

  .section__image {
    width: 40%;
  }
}

@media screen and (max-width: 500px) {
  .swiper {
    margin-top: 40%;
  }

  .section__image {
    width: 30%;
  }
}
