.card__wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 10% 0;
}

.card {
  background-color: #fff;
  width: 20%;
  margin: auto 5px;
  text-align: center;

  &__img {
    width: 100%;
  }
}
 
