@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

@import './screens/Home';
@import './screens/Login';

@import './components/Header';

body {
  margin: 0;
  background-color: #000;
  font-family: 'Source Sans Pro', sans-serif;
}
